<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>HTML 5 Boilerplate</title>
		<link rel="stylesheet" href="./assets/style.css" />
		<title>{{filename}} | Documentation</title>
	</head>
	<body>
		<div class="wrapper">
			<div class="nav">
				{{nav}}
				{{exit}}
			</div>
			<main>
				<header>
					<img width="100px" src="./assets/logo.svg"/>
					<h2 style="position:relative;top:-0.25em;">{{filename}}</h2>
				</header>

				{{body}}
			</main>
		</div>
  </body>
</html>
